@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

<div id="image" class="center-align container">
    <img src="">
    <h3>Star Wars Top Trumps</h3>
</div>

<div class="wrapper">
    <div class="row">
        <div class="col s6">
            <div class="card blue darken-1">
                <div class="card-action">Player A Card</div>
                <div id="charA" class="card-content white-text">
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card blue darken-1">
                <div class="card-action">Player B Card</div>
                <div id="charB" class="card-content white-text">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="buttons" class="col s2">
            <h6 class="center-align">Comparing Character Attributes:</h6>
            <button id="birthYear" class="waves-effect waves-light btn">Birth Year</button>
            <button id="height" class="waves-effect waves-light btn">Height</button>
            <button id="mass" class="waves-effect waves-light btn">Mass</button>
        </div>
    </div>

    <div id='result'></div>
    <div id="newGameButton">
        <button id="newGame" class="waves-effect waves-light btn">Play Again</button>
    </div>
</div>
